services:
  efdrr:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8080:8000"
    volumes:
      - ./backend:/app/userdata
    stop_grace_period: 40s
